<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jju.yuxin.musicplayer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".activity.LoadingActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
                <category android:name="android.intent.category.LAUNCHER">
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <service android:name=".service.Music_Play_Service">
            <intent-filter>
                <action android:name="music_service"></action>
            </intent-filter>
        </service>
        <receiver android:name=".MusicReceiver">
            <intent-filter>
                <action android:name="GongNengFragment"></action>
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>